/*--------------------------------------------------------------
# Eylea Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'BayerSans Regular';
  src: url("../../content/fonts/BayerSans-Regular.otf") format("opentype");
  font-style: normal; }

@font-face {
  font-family: 'BayerSans Bold';
  src: url("../../content/fonts/BayerSans-Bold.otf") format("opentype");
  font-style: normal; }

@font-face {
  font-family: 'BayerSansCond Bold';
  src: url("../../content/fonts/BayerSansCond-Bold.otf") format("opentype");
  font-style: normal; }

@font-face {
  font-family: 'BayerSans Italic';
  src: url("../../content/fonts/BayerSans-Italic.otf") format("opentype");
  font-style: normal; }

@font-face {
  font-family: 'Arial Rounded Bold';
  src: url("../../content/fonts/Arial-Rounded-Bold.ttf") format("truetype");
  font-style: normal; }

/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#presentation {
  width: 1024px;
  height: 768px;
  position: relative;
  margin: 0 auto; }
  #presentation h1,
  #presentation h2,
  #presentation h3,
  #presentation h4,
  #presentation h5 {
    font-weight: normal; }

body {
  background: #444; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  height: 75px; }

#mainmenu {
  width: 84px;
  height: 100px;
  left: auto;
  right: 0;
  overflow: hidden;
  margin: 30px 30px; }
  #mainmenu ul {
    float: right;
    list-style: none; }
    #mainmenu ul li {
      width: 63.5px;
      height: 63.5px;
      background-image: url("../../content/img/graphics_bayer-logo-rgb.png");
      background-size: 100% 100%; }
  #mainmenu.hide {
    display: none; }
  #mainmenu.white li {
    background: url("../../content/img/Logo_Cross_Print_Wht.svg") no-repeat 0 0; }

/*--------------------------------------------------------------
# Slide
--------------------------------------------------------------*/
#presentation section > .slide,
#presentation section > .slide > .slide {
  padding: 0; }

.slide {
  text-align: left;
  background: no-repeat 0 0 #fff;
  background-size: 100% 100%;
  overflow: hidden; }
  .slide h1 {
    font-family: "BayerSans Regular", sans-serif;
    color: #e86c1f; }
  .slide .footer {
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 40px; }
    .slide .footer .left-logo {
      background: url("../../content/img/MEDRAD_Stellant_HorizDesc_Global_WHITE.svg") no-repeat;
      width: 230px;
      height: 40px;
      margin-left: 50px; }
    .slide .footer .right-logo {
      background: url("../../content/img/16518_b_rad_smartpack_logo_bl02_WHITE.svg") no-repeat;
      width: 175px;
      height: 54px;
      margin-right: 50px; }
  .slide #main_navigationContainer h2 {
    margin-top: 0px; }
  .slide img {
    height: auto; }
  .slide .slide-title {
    width: 950px;
    font-size: 48px;
    line-height: 1.1;
    color: #e86c1f;
    font-family: "BayerSans Bold", sans-serif;
    margin: 65px 63px 29px;
    letter-spacing: -1px;
    font-weight: normal; }
  .slide.has-title-icon .slide-title {
    display: flex;
    justify-content: flex-start; }
    .slide.has-title-icon .slide-title span {
      display: block; }
      .slide.has-title-icon .slide-title span.title-icon {
        background-size: 100%;
        background-repeat: no-repeat;
        margin-right: 23.5px; }
  .slide.has-subtitle .slide-title {
    margin-bottom: 0px;
    font-size: 46.5px; }
  .slide.has-subtitle .slide-subtitle {
    font-family: "BayerSans Regular", sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #e86c1f;
    margin: 0 0 0 63px;
    line-height: 44px;
    letter-spacing: -1px; }
    .slide.has-subtitle .slide-subtitle sup.reg {
      top: 7px; }
  .slide .slide-intro,
  .slide .features-title {
    color: #6d6e70;
    font-family: "BayerSans Regular", sans-serif;
    font-size: 24px;
    line-height: 29.5px;
    margin-left: 63px;
    margin-top: 17px;
    font-weight: normal; }
  .slide .features-list {
    display: flex; }
    .slide .features-list ul li {
      display: flex;
      justify-content: flex-start;
      color: #e86c1f;
      margin-bottom: 10px;
      font-size: 24px;
      font-family: "BayerSans Bold", sans-serif;
      line-height: 29px; }
      .slide .features-list ul li.list-title {
        color: #6d6e70;
        display: list-item;
        list-style: none; }
      .slide .features-list ul li span {
        padding-top: 5px;
        padding-left: 8px;
        font-size: 24px; }
      .slide .features-list ul li .circle {
        display: block;
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        width: 30px;
        height: 31px;
        padding: 0 0 0 1px;
        border: 3px solid #8cc63e;
        color: #8cc63e;
        text-align: center;
        font: 25px Arial, sans-serif; }
      .slide .features-list ul li .plus-sign {
        line-height: 31px; }
  .slide .arrow-bubble {
    display: flex;
    justify-content: flex-end; }
    .slide .arrow-bubble div {
      background-size: 100%; }
  .slide .pre-footer {
    position: absolute;
    bottom: 105px;
    background-size: 100%; }
  .slide .key {
    position: absolute;
    bottom: 26px;
    text-align: center;
    color: #6d6e70;
    font-family: "BayerSans Regular", sans-serif;
    font-size: 13px;
    width: 100%; }

/*--------------------------------------------------------------
# Footnote Links
--------------------------------------------------------------*/
sup {
  vertical-align: super;
  font-size: 0.4em;
  font-weight: normal;
  position: relative;
  top: -0.2em;
  text-transform: lowercase; }

sup.reg,
sup.ordinal,
sup.cross {
  font-size: 0.7em;
  top: 4px;
  left: 0px; }

sup.reg {
  font-family: "BayerSans Regular", sans-serif; }

span.asterisk {
  font-size: 1.4em;
  position: relative;
  top: 0.2em;
  left: 1px; }

h1 sup.reg, h2 sup.reg {
  font-size: 20px;
  top: 0px;
  left: 0px; }

h1 sup.ordinal, h2 sup.ordinal {
  font-size: 0.5em;
  top: -0.1em;
  left: 2px;
  text-transform: lowercase; }

h1 span.asterisk, h2 span.asterisk {
  font-size: 0.8em;
  position: relative;
  top: -0.2em;
  left: 2px; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#mainfooter {
  height: 40px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  position: absolute;
  bottom: 26px; }
  #mainfooter #medradLogo {
    background: url("../../content/img/MEDRAD_Stellant_HorizDesc_Global_Orange.svg") no-repeat;
    width: 230px;
    height: 40px;
    margin-left: 50px; }
  #mainfooter #stellant_appFooter {
    list-style: none; }
    #mainfooter #stellant_appFooter li {
      background: url("../../content/img/16518_b_rad_smartpack_logo_bl02_RGB.svg") no-repeat;
      width: 175px;
      height: 54px;
      margin-right: 50px; }
  #mainfooter.home {
    height: 63px;
    justify-content: flex-end; }
    #mainfooter.home #medradLogo {
      display: none; }
    #mainfooter.home #stellant_appFooter li {
      background-image: none; }

/*--------------------------------------------------------------
# Nav - Flyout Menu
--------------------------------------------------------------*/
.navigation-menu,
.navigation-menu li.parent-menu ul {
  list-style: none; }

#header input {
  position: fixed;
  opacity: 0; }

#flyout-menu {
  color: white;
  display: block;
  position: relative; }
  #flyout-menu label {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer; }
    #flyout-menu label:before {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      content: '';
      opacity: 0;
      pointer-events: none; }
    #flyout-menu label#lab3 sup {
      top: 0em; }
    #flyout-menu label .burger {
      position: fixed;
      top: 1em;
      left: 1em;
      z-index: 3;
      width: 45px;
      height: 2em;
      margin: 0;
      padding: 0;
      transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
    #flyout-menu label .burger::before,
    #flyout-menu label .burger .bar,
    #flyout-menu label .burger::after {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 12%;
      background: #6d6e70;
      border-radius: 10px;
      content: '';
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
    #flyout-menu label .burger .bar {
      top: 44%; }
    #flyout-menu label .burger::before {
      top: 0;
      transform-origin: top left; }
    #flyout-menu label .burger::after {
      bottom: 0;
      transform-origin: bottom left; }
  #flyout-menu.white label .burger::before,
  #flyout-menu.white label .burger .bar,
  #flyout-menu.white label .burger::after {
    background: #fff; }
  #flyout-menu nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    transform: translate3d(0, 0, 0);
    width: 200px;
    /* material acceleration */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
    #flyout-menu nav:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 25em;
      content: '';
      transform: skewX(15deg) translateX(-100%);
      transform-origin: bottom left;
      will-change: transform;
      transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
    #flyout-menu nav label {
      font-size: 1.5em;
      color: #636463;
      text-decoration: none;
      font-weight: 500;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: 100%;
      font-size: 1.0em;
      line-height: 1.1em;
      border-bottom: 2px solid #8c8c8b;
      border-top: 2px solid #f3f4f4;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      position: relative;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 36%, rgba(224, 224, 224, 0.95) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      transform: translateX(-100%);
      transition: color .15s, transform .5s;
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
      #flyout-menu nav label:after {
        position: absolute;
        width: 10px;
        right: 0;
        top: 0;
        height: 100%;
        content: '';
        background: linear-gradient(to bottom, #e38d5e 36%, #c87c53 100%); }
      #flyout-menu nav label span {
        font-family: "BayerSans Bold", sans-serif;
        font-size: 18px;
        line-height: 1.1;
        padding: 25px 50px 20px 25px;
        text-align: left; }
      #flyout-menu nav label:hover, #flyout-menu nav label:focus,
      #flyout-menu nav label [class="flyout"]:checked + label, #flyout-menu nav label.active {
        color: #fff;
        background: linear-gradient(to bottom, #e38d5e 36%, #c87c53 100%);
        border-top: 2px solid rgba(255, 255, 255, 0.95); }
    #flyout-menu nav .icon {
      position: absolute;
      width: 46px;
      height: 44px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right center;
      right: 25px; }
      #flyout-menu nav .icon.link1 {
        background-image: url("../../content/img/nav-home-orange.png");
        background-size: 36px 32px;
        right: 28px; }
      #flyout-menu nav .icon.link2 {
        background-image: url("../../content/img/nav-check-orange.png");
        background-size: 34px 38px;
        right: 28px; }
      #flyout-menu nav .icon.link3 {
        background-image: url("../../content/img/nav-injection-orange.png");
        background-size: 46px 44px;
        right: 18px; }
      #flyout-menu nav .icon.link4 {
        background-image: url("../../content/img/nav-smartpack-orange.png");
        background-size: 46px 38px;
        right: 18px; }
      #flyout-menu nav .icon.link5 {
        background-image: url("../../content/img/nav-summary-orange.png");
        background-size: 47px 42px;
        right: 21px; }
      #flyout-menu nav .icon.link6 {
        background-image: url("../../content/img/nav-resources-orange.png");
        background-size: 34px 44px;
        right: 30px; }
      #flyout-menu nav .icon.link7 {
        background-image: url("../../content/img/nav-calculator-orange.png");
        background-size: 34px 44px;
        right: 30px; }
    #flyout-menu nav label:hover > .icon.link1,
    #flyout-menu nav label:focus > .icon.link1,
    #flyout-menu nav [class="flyout"]:checked + label > .icon.link1,
    #flyout-menu nav label.active > .icon.link1 {
      background-image: url("../../content/img/nav-home-white.png"); }
    #flyout-menu nav label:hover > .icon.link2,
    #flyout-menu nav label:focus > .icon.link2,
    #flyout-menu nav [class="flyout"]:checked + label > .icon.link2,
    #flyout-menu nav label.active > .icon.link2 {
      background-image: url("../../content/img/nav-check-white.png"); }
    #flyout-menu nav label:hover > .icon.link3,
    #flyout-menu nav label:focus > .icon.link3,
    #flyout-menu nav [class="flyout"]:checked + label > .icon.link3,
    #flyout-menu nav label.active > .icon.link3 {
      background-image: url("../../content/img/nav-injection-white.png"); }
    #flyout-menu nav label:hover > .icon.link4,
    #flyout-menu nav label:focus > .icon.link4,
    #flyout-menu nav [class="flyout"]:checked + label > .icon.link4,
    #flyout-menu nav label.active > .icon.link4 {
      background-image: url("../../content/img/nav-smartpack-white.png"); }
    #flyout-menu nav label:hover > .icon.link5,
    #flyout-menu nav label:focus > .icon.link5,
    #flyout-menu nav [class="flyout"]:checked + label > .icon.link5,
    #flyout-menu nav label.active > .icon.link5 {
      background-image: url("../../content/img/nav-summary-white.png"); }
    #flyout-menu nav label:hover > .icon.link6,
    #flyout-menu nav label:focus > .icon.link6,
    #flyout-menu nav [class="flyout"]:checked + label > .icon.link6,
    #flyout-menu nav label.active > .icon.link6 {
      background-image: url("../../content/img/nav-resources-white.png"); }
    #flyout-menu nav label:hover > .icon.link7,
    #flyout-menu nav label:focus > .icon.link7,
    #flyout-menu nav [class="flyout"]:checked + label > .icon.link7,
    #flyout-menu nav label.active > .icon.link7 {
      background-image: url("../../content/img/nav-calculator-white.png"); }
  #flyout-menu .spacer {
    width: 100%;
    height: 51px;
    background: #d96633;
    position: absolute;
    top: 0;
    border-bottom: 2px solid #4d4d4c;
    -webkit-box-sizing: border-box; }
  #flyout-menu .alt-link {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%; }
  #flyout-menu [class="flyout"]:checked + label .alt-link {
    display: block; }
  #flyout-menu .sub,
  #flyout-menu .sub2 {
    position: absolute;
    width: 1000px;
    left: 250px;
    display: none; }
  #flyout-menu .sub2 {
    width: 1000px; }
  #flyout-menu #link3-sub .sub {
    top: 265px; }
  #flyout-menu #link4-sub .sub {
    top: 368px; }
  #flyout-menu #link4-sub .sub2 {
    top: 548px;
    left: 405px; }
  #flyout-menu .chevron {
    position: absolute;
    width: 12px;
    height: 35px;
    background: url("../../content/img/nav-chevron.png") no-repeat 0 0;
    background-size: 100%; }
  #flyout-menu .sub > .chevron {
    left: -22px;
    top: 28px; }
  #flyout-menu .sub2 > .chevron {
    left: 56px;
    top: -45px;
    transform: rotate(90deg); }
  #flyout-menu #lab4 .sub2 {
    left: 402px; }
  #flyout-menu .sub-slide-wrap {
    width: 137px;
    margin-right: 15px;
    float: left; }
  #flyout-menu .sub-slide-thumb {
    width: 100%;
    background: #fff; }
  #flyout-menu .sub-slide-thumb img {
    width: 100%;
    display: block; }
  #flyout-menu .sub-slide-cap {
    font-family: "BayerSans Bold", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding-top: 10px; }
    #flyout-menu .sub-slide-cap.active {
      color: #e86c1f; }
  #flyout-menu [class="flyout"]:checked + label .sub,
  #flyout-menu [class="flyout"]:checked + label .sub2 {
    display: block; }
  #flyout-menu .sub-container.active .sub, #flyout-menu .sub-container.active .sub2 {
    display: block; }
  #flyout-menu .first-link {
    margin-top: 51px; }
  #flyout-menu [id="navcheck"]:checked + label::before {
    opacity: 1;
    pointer-events: auto; }
  #flyout-menu [id="navcheck"]:checked + label .burger::before,
  #flyout-menu [id="navcheck"]:checked + label .burger::after {
    width: 141.42%;
    background: #fff; }
  #flyout-menu [id="navcheck"]:checked + label .burger::before {
    transform: rotate(45deg) translateY(-50%); }
  #flyout-menu [id="navcheck"]:checked + label .burger::after {
    transform: rotate(-45deg) translateY(50%); }
  #flyout-menu [id="navcheck"]:checked + label .burger .bar {
    transform: scale(0.1); }
  #flyout-menu [id="navcheck"]:checked ~ nav,
  #flyout-menu [id="navcheck"]:checked .spacer {
    transform: translateX(0); }
  #flyout-menu [id="navcheck"]:checked ~ nav::before {
    transform: translateX(0); }
  #flyout-menu [id="navcheck"]:checked ~ nav label {
    transform: translateX(0); }
  #flyout-menu [id="navcheck"]:checked + label .burger {
    width: 32px;
    transform: translateX(160px);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    top: 10px;
    left: -3px; }

/*--------------------------------------------------------------
# Popups
--------------------------------------------------------------*/
#popup-text {
  display: none; }

#popup {
  width: 85%;
  height: 620px;
  position: absolute;
  background-color: #FFFFFF;
  margin: 0 5%;
  padding: 20px 30px 40px;
  left: 0;
  z-index: 99999;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }
  #popup #popup-prev,
  #popup #popup-next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 95px;
    margin-top: -50px;
    background: url("../../content/img/popup-arrow.png") no-repeat 0 0;
    background-size: 100%;
    z-index: 1; }
    #popup #popup-prev.inactive-nav,
    #popup #popup-next.inactive-nav {
      display: none; }
  #popup #popup-next {
    right: 30px;
    transform: rotate(180deg); }
  #popup h3,
  #popup h4,
  #popup h5 {
    color: #e86c1f; }
  #popup h4,
  #popup h5 {
    font-family: "BayerSans Regular", sans-serif; }
  #popup h3 {
    font-family: "BayerSans Bold", sans-serif;
    font-size: 47.5px; }
    #popup h3 sup.reg {
      top: 9px;
      font-family: "BayerSans Regular", sans-serif; }
  #popup h4 {
    font-size: 36px;
    line-height: 37.5px;
    margin-bottom: 5px;
    letter-spacing: -1px; }
  #popup h5 {
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -1px; }
    #popup h5.gray {
      color: #6d6e70; }
  #popup p {
    font-family: "BayerSans Regular", sans-serif;
    margin-top: 8px;
    font-size: 12.5px;
    line-height: 1.3;
    letter-spacing: -.5px; }
    #popup p b {
      font-family: "BayerSans Bold", sans-serif; }
    #popup p a {
      color: #e86c1f;
      font-family: "BayerSans Bold", sans-serif; }
    #popup p sup.reg {
      top: .2em; }
  #popup .calculator.header {
    margin: 50px 30px 0; }
    #popup .calculator.header h3 {
      margin-bottom: 10px; }
    #popup .calculator.header h4 {
      font-size: 24px; }
  #popup .calculator.content {
    margin: 0 30px; }
    #popup .calculator.content p {
      font-size: 24px;
      line-height: 1.4;
      color: #6d6e70;
      margin-top: 20px; }
    #popup .calculator.content b {
      margin-bottom: 10px; }
  #popup .calculator.bottom {
    border: solid #e86c1f 1px;
    border-radius: 20px;
    margin: 30px 30px 0;
    padding: 15px; }
    #popup .calculator.bottom p {
      font-size: 21px;
      color: #e86c1f;
      margin: 0; }
      #popup .calculator.bottom p:first-child {
        margin-bottom: 10px; }
  #popup .calculator.footnote {
    margin: 0 60px 20px;
    position: absolute;
    left: 0;
    bottom: 0; }
    #popup .calculator.footnote p {
      color: #6d6e70;
      font-size: 13px; }
  #popup .key {
    text-align: left;
    margin-left: 36px; }
    #popup .key .astrix {
      vertical-align: super;
      font-size: 0.8em;
      font-weight: normal;
      position: absolute;
      top: 0em;
      text-transform: lowercase;
      left: -6px; }

#popup-background {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: 0;
  z-index: 9999; }

#close-popup {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  padding: 0px 11px 6px 13px;
  color: #FFFFFF;
  background: #e86c1f;
  border-radius: 40px;
  margin-left: 20px; }

.popup-slides .popup-slide {
  display: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), -webkit-transform 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), visibility 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), opacity 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: -ms-transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), transform 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), visibility 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), opacity 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), transform 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), visibility 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), opacity 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
  .popup-slides .popup-slide.active-slide {
    display: block; }

/*--------------------------------------------------------------
# Intro
--------------------------------------------------------------*/
#introduction {
  background-image: url("../../content/img/170220_01_S6_7_technician.jpg"); }
  #introduction #eylea-logo-top {
    position: absolute;
    padding: 20px 40px; }
  #introduction h1 {
    font-size: 70px;
    margin: 40px 0px 0 68px; }
    #introduction h1 #product-name {
      margin-bottom: 20px; }
      #introduction h1 #product-name span {
        font-size: 36px; }
    #introduction h1 span {
      color: #FFFFFF; }
      #introduction h1 span.first, #introduction h1 span.second {
        font-family: "BayerSans Bold", sans-serif; }
        #introduction h1 span.first .fi-letter-space, #introduction h1 span.second .fi-letter-space {
          letter-spacing: 2px; }
    #introduction h1 sup.reg,
    #introduction h1 .title-start,
    #introduction h1 .title-today {
      -webkit-text-stroke-width: 0; }
    #introduction h1 sup.reg {
      font-size: 18px;
      position: relative;
      top: 2px;
      left: 0px;
      font-family: "BayerSans Regular", sans-serif; }
    #introduction h1 .amp {
      font-family: "BayerSans Bold", sans-serif;
      color: #e86c1f;
      margin: 0 3px 0 13px; }
    #introduction h1 .title-start,
    #introduction h1 .title-today {
      font-size: 40px;
      line-height: 40px; }
    #introduction h1 .title-today {
      margin-right: 30px;
      text-align: right;
      display: block; }
    #introduction h1 .headline {
      font-size: 69px; }
      #introduction h1 .headline.first {
        color: #FFFFFF; }
      #introduction h1 .headline.second {
        color: #e86c1f;
        display: block;
        margin-top: -10px; }
  #introduction .info {
    font-size: 11px;
    line-height: 1.2;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    padding: 20px 40px; }
    #introduction .info ul {
      margin-left: 15px; }

/*--------------------------------------------------------------
# Our Offerings
--------------------------------------------------------------*/
#our_offerings {
  background-image: url("../../content/img/SubLanding_r2.png"); }
  #our_offerings .offering-images,
  #our_offerings .offering-text {
    display: flex;
    justify-content: space-between; }
    #our_offerings .offering-images .image,
    #our_offerings .offering-text .image {
      width: 50%;
      height: 360px; }
      #our_offerings .offering-images .image #labels,
      #our_offerings .offering-text .image #labels {
        width: 413px;
        margin-top: 180px;
        margin-left: 83px;
        list-style-type: none; }
        #our_offerings .offering-images .image #labels .label,
        #our_offerings .offering-text .image #labels .label {
          color: #e86c1f;
          font-size: 18px;
          font-family: "BayerSans Bold", sans-serif;
          display: inline-block; }
          #our_offerings .offering-images .image #labels .label.one,
          #our_offerings .offering-text .image #labels .label.one {
            margin-right: 57px; }
          #our_offerings .offering-images .image #labels .label.two,
          #our_offerings .offering-text .image #labels .label.two {
            margin-right: 80px; }
    #our_offerings .offering-images .text,
    #our_offerings .offering-text .text {
      width: 295px;
      text-align: center;
      color: #6d6e70;
      font-family: "BayerSans Regular", sans-serif;
      font-size: 22px;
      margin: 35px 85px; }

/*--------------------------------------------------------------
# Medrad styling
--------------------------------------------------------------*/
#medrad {
  background-image: url("../../content/img/System_with_workstation_r1.png");
  background-position-y: 200px;
  background-size: 82.1296296296296%; }
  #medrad .features-list {
    justify-content: flex-end;
    margin-right: 70px;
    margin-top: 35px; }
  #medrad .arrow-bubble {
    margin-right: 368px;
    margin-top: 10px; }
    #medrad .arrow-bubble div {
      width: 98px;
      height: 64px;
      background-repeat: no-repeat; }
      #medrad .arrow-bubble div#injections {
        margin-right: 20px;
        background-image: url("../../content/img/injections.png"); }
      #medrad .arrow-bubble div#consumables {
        background-image: url("../../content/img/consumables.png"); }

.popup-slide {
  position: relative;
  height: 620px; }
  .popup-slide .header {
    margin-left: 36px;
    margin-top: 50px; }
  .popup-slide #injections-slide-one {
    background-image: url("../../content/img/injections-slide-one.png");
    width: 680.5px;
    height: 315px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 40px;
    position: absolute;
    margin-left: 16px; }
    .popup-slide #injections-slide-one p {
      font-size: 25.5px;
      font-family: "BayerSansCond Bold", sans-serif;
      color: #e86c1f;
      line-height: 30px;
      position: absolute;
      right: 60px;
      bottom: 50px; }
  .popup-slide #injection-measures {
    position: absolute;
    bottom: 50px;
    left: 35px;
    display: flex;
    justify-content: space-between;
    width: 431px;
    font-size: 16px;
    line-height: 20px;
    color: #6d6e70;
    font-family: "BayerSans Regular", sans-serif; }
    .popup-slide #injection-measures b {
      font-family: "BayerSansCond Bold", sans-serif;
      color: #e86c1f;
      font-size: 22px; }
  .popup-slide #injections-slide-two {
    background-image: url("../../content/img/injections-slide-two.png");
    width: 705px;
    height: 326px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 56px;
    position: absolute;
    left: 93px; }
  .popup-slide .slide-footer {
    height: 126px;
    background-image: url("../../content/img/pre-footer-full-width.png");
    position: absolute;
    bottom: -2px;
    background-size: 100%;
    background-repeat: no-repeat;
    left: -30px;
    width: 930px; }
    .popup-slide .slide-footer div {
      font-size: 21px;
      font-family: "BayerSans Bold", sans-serif;
      color: #FFFFFF;
      margin-left: 46px;
      margin-top: 37px;
      line-height: 29.5px; }
  .popup-slide .text-slide {
    width: 716.5px;
    margin-left: 80px;
    margin-top: 32px;
    text-align: justify; }
    .popup-slide .text-slide i {
      font-family: "BayerSans Italic", sans-serif; }
  .popup-slide #consumables-slide-one {
    width: 250px;
    height: 325px;
    background-image: url("../../content/img/consumables-slide-one.png");
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: 78px; }
  .popup-slide .features-list {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 78px; }
    .popup-slide .features-list ul {
      margin-right: 110px; }
  .popup-slide #consumables-slide-two {
    width: 629.5px;
    height: 455px;
    background-image: url("../../content/img/consumables-slide-two.png");
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 90px;
    bottom: 100px;
    z-index: -1; }
  .popup-slide #consumables-details .detail {
    position: absolute; }
    .popup-slide #consumables-details .detail.one {
      bottom: 60px;
      left: 140px; }
    .popup-slide #consumables-details .detail.two {
      bottom: 80px;
      left: 464px; }
    .popup-slide #consumables-details .detail.three {
      bottom: 185px;
      right: 40px; }
    .popup-slide #consumables-details .detail .circle {
      display: block;
      -webkit-border-radius: 999px;
      -moz-border-radius: 999px;
      border-radius: 999px;
      width: 30px;
      height: 31px;
      padding: 0 0 0 1px;
      border: 3px solid #8cc63e;
      color: #8cc63e;
      text-align: center;
      font: 21.5px Arial, sans-serif;
      margin-bottom: 10px; }
    .popup-slide #consumables-details .detail .number {
      line-height: 31px;
      font-family: "Arial Rounded Bold", sans-serif; }
    .popup-slide #consumables-details .detail .text {
      font-size: 16px;
      line-height: 20px;
      color: #6d6e70;
      font-family: "BayerSans Regular", sans-serif; }
      .popup-slide #consumables-details .detail .text b {
        font-family: "BayerSansCond Bold", sans-serif;
        color: #e86c1f;
        font-size: 21px;
        font-weight: normal; }

/*--------------------------------------------------------------
# SmartPACK Slides
--------------------------------------------------------------*/
#smartpack {
  background-image: url("../../content/img/smartpack-computer.png");
  background-size: 410px 361px;
  background-position-y: 225px;
  background-position-x: -7px; }
  #smartpack .slide-subtitle {
    margin-bottom: 50px; }
  #smartpack .features-list {
    justify-content: flex-end;
    margin-right: 145px;
    margin-top: 35px; }
    #smartpack .features-list .list-title {
      margin-bottom: 60px; }
      #smartpack .features-list .list-title .plus-sign {
        padding-left: 0px; }
  #smartpack .arrow-bubble {
    margin-right: 290px;
    margin-top: 52px; }
    #smartpack .arrow-bubble #free-trial {
      width: 300.5px;
      height: 64px;
      background-repeat: no-repeat;
      background-image: url("../../content/img/arrow-bubble-long.png"); }
      #smartpack .arrow-bubble #free-trial .trial-text {
        color: #e86c1f;
        font-family: "BayerSans Regular", sans-serif;
        font-size: 17px;
        margin: 24px 0 0 56px; }
        #smartpack .arrow-bubble #free-trial .trial-text span {
          font-family: "BayerSans Bold", sans-serif; }

#smartpack_pillars .slide-title {
  font-size: 45px; }

#smartpack_pillars .slide-subtitle {
  font-size: 24px;
  margin-top: 20px; }

#smartpack_pillars #pillars {
  display: flex;
  justify-content: space-between;
  margin: 48px 63px 0;
  font-family: "BayerSans Regular", sans-serif; }
  #smartpack_pillars #pillars .pillar {
    width: 274px;
    height: 325px;
    background-size: contain; }
    #smartpack_pillars #pillars .pillar .pillar-title {
      color: #FFFFFF;
      font-size: 25px;
      line-height: 29.5px;
      margin-left: 17px;
      margin-top: 14px; }
      #smartpack_pillars #pillars .pillar .pillar-title span {
        font-size: 25px;
        font-family: "BayerSans Bold", sans-serif; }
    #smartpack_pillars #pillars .pillar .pillar-detail {
      color: #6d6e70;
      font-size: 24px;
      line-height: 29px;
      margin-left: 17px; }
    #smartpack_pillars #pillars .pillar#reliability-pillar {
      background-image: url("../../content/img/reliability-pillar.png"); }
      #smartpack_pillars #pillars .pillar#reliability-pillar .pillar-detail {
        margin-top: 125px; }
    #smartpack_pillars #pillars .pillar#technology-pillar {
      background-image: url("../../content/img/technology-pillar.png"); }
      #smartpack_pillars #pillars .pillar#technology-pillar .pillar-detail {
        margin-top: 100px; }
    #smartpack_pillars #pillars .pillar#capital-pillar {
      background-image: url("../../content/img/capital-pillar.png"); }
      #smartpack_pillars #pillars .pillar#capital-pillar .pillar-detail {
        margin-top: 100px; }

#smartpack_pillars .arrow-bubble {
  justify-content: center; }
  #smartpack_pillars .arrow-bubble div {
    background-size: contain;
    background-image: url("../../content/img/info-link.png");
    background-repeat: no-repeat;
    height: 64px;
    width: 100px;
    margin-left: -20px;
    margin-top: 39.5px; }

#popup.smartpack_pillars #popup-content {
  margin: 30px 20px;
  background-size: contain;
  background-image: url("../../content/img/info-link.png"); }

#reliability #VirtualCare-logo {
  width: 200px;
  height: 62.5px;
  background-image: url("../../content/img/VirtualCare-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: 150px; }

#reliability .slide-title .title-icon {
  width: 50px;
  height: 63.5px;
  background-image: url("../../content/img/reliability-shield.png");
  margin-top: -14px; }

#reliability .slide-intro {
  color: #e86c1f; }

#reliability .features-list {
  margin-left: 70px;
  margin-top: 42.5px; }
  #reliability .features-list li.list-title {
    margin-bottom: 25px; }
  #reliability .features-list li span {
    padding-top: 1px;
    font-size: 24px;
    font-family: "BayerSans Regular", sans-serif; }
    #reliability .features-list li span b {
      font-family: "BayerSans Bold", sans-serif;
      font-weight: normal; }
  #reliability .features-list li .list-icon {
    height: 31px;
    width: 31px;
    padding: 0; }
    #reliability .features-list li .list-icon.clock-icon {
      background-size: contain;
      background-image: url("../../content/img/clock-icon.png");
      background-repeat: no-repeat; }
    #reliability .features-list li .list-icon.computer-icon {
      background-size: contain;
      background-image: url("../../content/img/computer-icon.png");
      background-repeat: no-repeat; }
    #reliability .features-list li .list-icon.phone-icon {
      background-size: contain;
      background-image: url("../../content/img/phone-icon.png");
      background-repeat: no-repeat; }

#reliability .pre-footer {
  height: 126px;
  width: 100%;
  background-image: url("../../content/img/pre-footer-full-width.png"); }
  #reliability .pre-footer div {
    font-size: 21px;
    font-family: "BayerSans Bold", sans-serif;
    color: #FFFFFF;
    margin-left: 46px;
    margin-top: 42px;
    line-height: 29.5px; }

#reliability_virtualcare #reliability-shield-large {
  width: 127px;
  height: 170px;
  margin-left: 63px;
  margin-top: 50px;
  margin-right: 50px;
  background-image: url("../../content/img/reliability-shield-large.png");
  background-size: contain; }

#reliability_virtualcare ul {
  margin-top: 31px; }

#technological_deployments {
  background-image: url("../../content/img/computer-background.png");
  background-size: 884.5px 406.5px;
  background-position-x: 63px;
  background-position-y: 322px; }
  #technological_deployments .slide-title .title-icon {
    width: 62px;
    height: 65.5px;
    background-image: url("../../content/img/techno-box.png");
    margin-top: -21px;
    margin-right: 9px; }
  #technological_deployments .slide-intro {
    color: #e86c1f;
    margin-top: 10px; }
  #technological_deployments #deployments-nav {
    position: relative; }
    #technological_deployments #deployments-nav .deployment-link {
      position: absolute;
      font-family: "BayerSans Bold", sans-serif;
      font-size: 17px;
      line-height: 12px;
      padding: 10px 25px 10px 60px; }
      #technological_deployments #deployments-nav .deployment-link sup {
        font-size: 0.9em;
        top: 6px; }
      #technological_deployments #deployments-nav .deployment-link.first {
        color: #383473;
        top: 151px;
        left: 219px; }
      #technological_deployments #deployments-nav .deployment-link.second {
        color: #006738;
        top: 150px;
        right: 165px;
        line-height: 18px; }
      #technological_deployments #deployments-nav .deployment-link.third {
        color: #00a79d;
        top: 250px;
        left: 215px; }
      #technological_deployments #deployments-nav .deployment-link.fourth {
        color: #d6df23;
        top: 267px;
        right: 206px; }

.slide.scanner-connectivity .slide-title {
  margin-left: 45px;
  color: #383473; }
  .slide.scanner-connectivity .slide-title span.title-icon {
    width: 82px;
    height: 63px;
    background-image: url("../../content/img/scanner-title-icon.png");
    margin-right: 0px;
    margin-top: -10px; }

#scanner_connectivity_intro {
  background-image: url("../../content/img/medrad-with-doctor.png");
  background-position-x: 27.5px;
  background-position-y: 256.5px;
  background-size: 387px 347.5px; }
  #scanner_connectivity_intro .slide-subtitle {
    margin: 10px 0 0 63px;
    line-height: 34px; }
  #scanner_connectivity_intro .features-list {
    margin-left: 443px;
    margin-top: 51px; }
    #scanner_connectivity_intro .features-list ul li {
      margin-bottom: 15px; }
      #scanner_connectivity_intro .features-list ul li.list-title {
        font-family: "BayerSans Regular", sans-serif;
        margin-bottom: 20px;
        letter-spacing: -.5px; }
      #scanner_connectivity_intro .features-list ul li .list-icon {
        height: 35px;
        width: 40px;
        padding: 0;
        background-size: contain; }
        #scanner_connectivity_intro .features-list ul li .list-icon.bullseye-icon {
          background-image: url("../../content/img/bullseye-icon.png"); }
        #scanner_connectivity_intro .features-list ul li .list-icon.timer-icon {
          background-image: url("../../content/img/timer-icon.png"); }
        #scanner_connectivity_intro .features-list ul li .list-icon.width-arrow-icon {
          background-image: url("../../content/img/width-arrow-icon.png"); }
        #scanner_connectivity_intro .features-list ul li .list-icon.crossover-icon {
          background-image: url("../../content/img/crossover-icon.png"); }

#scanner_connectivity_detail {
  background-image: url("../../content/img/scanner-connectivity-detail.png");
  background-position-x: 77px;
  background-position-y: 210px;
  background-size: 888.5px 467px; }
  #scanner_connectivity_detail #reveal-scanner-detail {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 59px;
    top: 211px; }

.slide.automated-documentation .slide-title {
  margin-left: 45px;
  color: #00a79d; }
  .slide.automated-documentation .slide-title span.title-icon {
    width: 82px;
    height: 63px;
    background-image: url("../../content/img/automated-doc-icon.png");
    margin-right: 0px;
    margin-top: -10px; }

#automated_documentation {
  background-image: url("../../content/img/automated-doc-monitor.png");
  background-position-x: 65.5px;
  background-position-y: 290.5px;
  background-size: 300px 285px; }
  #automated_documentation #automated-documention-pop-link {
    background-image: url("../../content/img/automated-documentation-pop-link.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 335px;
    height: 64px;
    position: absolute;
    left: 63px;
    bottom: 138px; }
  #automated_documentation .features-list {
    margin-left: 443px;
    margin-top: 51px; }
    #automated_documentation .features-list ul li {
      margin-bottom: 15px; }
      #automated_documentation .features-list ul li.list-title {
        font-family: "BayerSans Regular", sans-serif;
        margin-bottom: 20px; }
      #automated_documentation .features-list ul li span {
        padding-left: 12px; }
      #automated_documentation .features-list ul li.extra-space span {
        padding-left: 8px; }
      #automated_documentation .features-list ul li .list-icon {
        height: 35px;
        width: 35px;
        padding: 0;
        background-size: contain;
        background-repeat: no-repeat; }
        #automated_documentation .features-list ul li .list-icon.import-icon {
          background-image: url("../../content/img/import-icon.png"); }
        #automated_documentation .features-list ul li .list-icon.Aa-icon {
          background-image: url("../../content/img/Aa-icon.png"); }
        #automated_documentation .features-list ul li .list-icon.teal-bullseye-icon {
          background-image: url("../../content/img/teal-bullseye-icon.png");
          width: 40px;
          padding-left: 0px; }
        #automated_documentation .features-list ul li .list-icon.teal-timer-icon {
          background-image: url("../../content/img/teal-timer-icon.png"); }

#automated_documentation_steps {
  background-image: url("../../content/img/automated-documentation-detail.png");
  background-position-x: 77px;
  background-position-y: 210px;
  background-size: 888.5px 427.5px; }
  #automated_documentation_steps #reveal-steps-detail {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 59px;
    top: 211px; }

#personalized_protocols {
  background-image: url("../../content/img/personalized-protocols.png");
  background-position-x: 58.5px;
  background-position-y: 305px;
  background-size: 296.5px 284.5px; }
  #personalized_protocols #personalized-protocols-pop-link {
    width: 200px;
    height: 65px;
    position: absolute;
    left: 105px;
    bottom: 224px; }
  #personalized_protocols .slide-title {
    margin-left: 45px;
    color: #d6df23; }
    #personalized_protocols .slide-title span.title-icon {
      width: 82px;
      height: 63px;
      background-image: url("../../content/img/personalized-protocols-icon.png");
      margin-right: 0px;
      margin-top: -10px; }
  #personalized_protocols .features-list {
    margin-left: 443px;
    margin-top: 51px; }
    #personalized_protocols .features-list ul li {
      margin-bottom: 15px; }
      #personalized_protocols .features-list ul li.list-title {
        font-family: "BayerSans Regular", sans-serif;
        margin-bottom: 20px; }
      #personalized_protocols .features-list ul li .list-icon {
        height: 35px;
        width: 35px;
        padding: 0;
        background-size: contain;
        background-repeat: no-repeat; }
        #personalized_protocols .features-list ul li .list-icon.wrench-icon {
          background-image: url("../../content/img/wrench-icon.png"); }
        #personalized_protocols .features-list ul li .list-icon.patient-icon {
          background-image: url("../../content/img/patient-icon.png"); }
        #personalized_protocols .features-list ul li .list-icon.checkmark-icon {
          background-image: url("../../content/img/checkmark-icon.png"); }
        #personalized_protocols .features-list ul li .list-icon.waves-icon {
          background-image: url("../../content/img/waves-icon.png"); }

#data_driven_insights {
  background-image: url("../../content/img/data-driven-insights.png");
  background-position-x: 17.5px;
  background-position-y: 307.5px;
  background-size: 480px 204px; }
  #data_driven_insights .slide-title {
    margin-left: 45px;
    color: #006738; }
    #data_driven_insights .slide-title span.title-icon {
      width: 82px;
      height: 63px;
      background-image: url("../../content/img/data-driven-insights-icon.png");
      margin-right: 0px;
      margin-top: -10px; }
  #data_driven_insights .pre-footer {
    height: 76px;
    width: 545px;
    background-image: url("../../content/img/pre-footer-half-width.png"); }
    #data_driven_insights .pre-footer div {
      font-size: 21px;
      font-family: "BayerSans Bold", sans-serif;
      color: #FFFFFF;
      margin-left: 26px;
      margin-top: 28px;
      line-height: 29.5px; }
  #data_driven_insights .features-list {
    margin-left: 555px;
    margin-top: 13px; }
    #data_driven_insights .features-list ul li {
      margin-bottom: 15px; }
      #data_driven_insights .features-list ul li.list-title {
        font-family: "BayerSans Regular", sans-serif;
        margin-bottom: 20px;
        margin-left: -110px;
        font-size: 23px; }
      #data_driven_insights .features-list ul li .list-icon {
        height: 35px;
        width: 35px;
        padding: 0;
        background-size: contain;
        background-repeat: no-repeat; }
        #data_driven_insights .features-list ul li .list-icon.vial-icon {
          background-image: url("../../content/img/vial-icon.png"); }
        #data_driven_insights .features-list ul li .list-icon.tracking-icon {
          background-image: url("../../content/img/tracking-icon.png"); }
        #data_driven_insights .features-list ul li .list-icon.chart-icon {
          background-image: url("../../content/img/chart-icon.png"); }
        #data_driven_insights .features-list ul li .list-icon.mag-icon {
          background-image: url("../../content/img/mag-icon.png"); }

#capital_access_program {
  background-image: url("../../content/img/capital-access-program.png");
  background-position-x: 68px;
  background-position-y: 281px;
  background-size: 865px 87px; }
  #capital_access_program .slide-title {
    margin-left: 45px; }
    #capital_access_program .slide-title span.title-icon {
      width: 57px;
      height: 71.5px;
      background-image: url("../../content/img/capital-access-program-icon.png");
      margin-right: 14px;
      margin-top: -24px;
      margin-left: 15px; }
  #capital_access_program #capital-access-programs {
    font-family: "BayerSans Regular", sans-serif;
    color: #6d6e70;
    font-size: 23.5px;
    line-height: 30.5px;
    position: absolute;
    top: 405px;
    left: 116px;
    width: 812.5px;
    display: flex;
    justify-content: space-between; }
    #capital_access_program #capital-access-programs b {
      font-family: "BayerSans Bold", sans-serif;
      font-weight: normal; }

#smartpack-pillars-popup .header {
  margin-left: 36px;
  margin-top: 50px; }
  #smartpack-pillars-popup .header h5 {
    margin-top: 10px;
    font-size: 24px;
    letter-spacing: 0; }

#smartpack-pillars-popup .popup-image {
  background-image: url("../../content/img/pillars-popup.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 816.5px;
  height: 332px;
  margin-left: 36px;
  margin-top: 30px; }

#popup.automated_documentation_steps {
  height: 406px;
  background-image: url("../../content/img/auto-doc-zoom.png");
  background-repeat: no-repeat;
  background-size: 946px 456px;
  background-position-x: 10px;
  background-position-y: 7px;
  width: 90%;
  margin: 0 2%; }

#popup.scanner_connectivity_detail {
  height: 423px;
  background-image: url("../../content/img/scanner-connectivity-detail-zoom.png");
  background-repeat: no-repeat;
  background-size: 822px 467px;
  background-position-x: 36px;
  background-position-y: 15px; }

#popup .small-header {
  margin-left: 36px;
  margin-top: 50px; }
  #popup .small-header h3 {
    font-size: 23.5px;
    font-family: "BayerSans Bold", sans-serif;
    color: #e86c1f;
    margin-bottom: 10px;
    font-weight: normal; }
  #popup .small-header p {
    font-size: 23.5px;
    font-family: "BayerSans Regular", sans-serif;
    color: #6d6e70; }

#popup .popup-slide.one .auto-doc-image {
  width: 648px;
  height: 364.5px;
  background-image: url("../../content/img/auto-doc-image-one.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 80px auto 0; }

#popup .popup-slide.one .protocols-image {
  width: 572px;
  height: 321px;
  background-image: url("../../content/img/protocols-image-one.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 40px auto 0; }

#popup .popup-slide.two .small-header.side {
  position: absolute;
  margin-left: 0;
  right: 23px;
  width: 280px;
  top: 0px;
  margin-top: 0px; }

#popup .popup-slide.two .auto-doc-image {
  width: 380px;
  height: 514.5px;
  background-image: url("../../content/img/auto-doc-image-two.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 80px 0 0 150px; }

#popup .popup-slide.two .protocols-image {
  width: 572px;
  height: 321px;
  background-image: url("../../content/img/protocols-image-two.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 80px auto 0; }

#popup .popup-slide.three .auto-doc-image {
  width: 601px;
  height: 226.5px;
  background-image: url("../../content/img/auto-doc-image-three.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 105px auto 0; }

#popup .popup-slide.three .protocols-image {
  width: 478px;
  height: 301px;
  background-image: url("../../content/img/protocols-image-three.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 80px auto 0; }

#popup .popup-slide.four .small-header.side {
  position: absolute;
  margin-left: 0;
  right: 23px;
  width: 280px;
  top: 0px;
  margin-top: 0px; }

#popup .popup-slide.four .auto-doc-image {
  width: 380px;
  height: 514.5px;
  background-image: url("../../content/img/auto-doc-image-four.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 80px 0 0 150px; }

#popup .popup-slide.four .protocols-image {
  width: 555px;
  height: 319.5px;
  background-image: url("../../content/img/protocols-image-four.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 80px auto 0; }

#popup .popup-slide.five .protocols-image {
  width: 634.5px;
  height: 333px;
  background-image: url("../../content/img/protocols-image-five.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 80px auto 0; }

/*--------------------------------------------------------------
# Summary Slide
--------------------------------------------------------------*/
#summary_page #summary-page-image {
  width: 418px;
  height: 280.5px;
  margin-left: 27px;
  margin-top: 50px;
  margin-right: 55px;
  background-image: url("../../content/img/summary-page.png");
  background-size: 100%; }

#summary_page ul {
  margin-top: 94px; }

#summary_page #summary-arrow-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 51px;
  margin-top: 40px; }
  #summary_page #summary-arrow-links #risk-free-link {
    background-image: url("../../content/img/risk-free-link.png");
    background-size: 100%;
    width: 310px;
    height: 63.5px; }
    #summary_page #summary-arrow-links #risk-free-link .trial-text {
      color: #e86c1f;
      font-family: "BayerSans Regular", sans-serif;
      font-size: 17px;
      margin: 25px 0 0 65px; }
      #summary_page #summary-arrow-links #risk-free-link .trial-text span {
        font-family: "BayerSans Bold", sans-serif; }
  #summary_page #summary-arrow-links #learn-more-link {
    background-image: url("../../content/img/learn-more-link.png");
    background-size: 100%;
    width: 170px;
    height: 63.5px; }
    #summary_page #summary-arrow-links #learn-more-link .learn-more-text {
      color: #e86c1f;
      font-family: "BayerSans Regular", sans-serif;
      font-size: 17px;
      margin: 25px 0 0 65px; }

#popup .summary-header {
  margin-left: 36px;
  margin-top: 50px; }
  #popup .summary-header h3 {
    letter-spacing: -1px; }

#popup .summary {
  background-image: url("../../content/img/summary-popup.png");
  width: 808.5px;
  height: 363px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 56px;
  position: absolute;
  left: 69px; }

/*--------------------------------------------------------------
# Resources Slide
--------------------------------------------------------------*/
#resources .resource-border {
  width: 776px;
  height: 12px;
  position: absolute;
  background-image: url("../../content/img/resource-border.png");
  background-size: 100%;
  background-repeat: no-repeat;
  left: 100px; }
  #resources .resource-border.one {
    top: 309px; }
  #resources .resource-border.two {
    top: 488px; }

#resources #resources-grid {
  width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  #resources #resources-grid .column.first, #resources #resources-grid .column.third {
    width: 281px; }
  #resources #resources-grid .column.third {
    padding-top: 183px; }
  #resources #resources-grid .column .title,
  #resources #resources-grid .column .thumb {
    margin-bottom: 10px; }
  #resources #resources-grid .column .resource {
    text-align: center;
    color: #6d6e70;
    font-family: "BayerSans Regular", sans-serif;
    font-size: 15px;
    min-width: 150px;
    margin-bottom: 30px; }
    #resources #resources-grid .column .resource.stellant .title {
      margin-top: -15px; }
    #resources #resources-grid .column .resource img {
      width: 85px;
      height: 64px;
      border: 1px solid #6d6e70; }
    #resources #resources-grid .column .resource .links {
      display: flex;
      justify-content: center;
      margin: 0 auto; }
      #resources #resources-grid .column .resource .links div {
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 65px;
        height: 44.5px; }
        #resources #resources-grid .column .resource .links div.pdf {
          margin-right: 10px;
          background-image: url("../../content/img/pdf-link.png"); }
        #resources #resources-grid .column .resource .links div.email {
          background-image: url("../../content/img/email-link.png"); }

#tools .slide-subtitle {
  font-family: "BayerSans Regular", sans-serif;
  font-size: 24px;
  color: #e86c1f;
  margin: 65px 63px 29px; }
  #tools .slide-subtitle span {
    display: inline-block;
    padding: 40px 30px;
    vertical-align: top; }

#reliability_calculator .slide-title {
  line-height: 1; }

#reliability_calculator .slide-subtitle {
  font-family: "BayerSans Regular", sans-serif;
  font-size: 26px; }

#reliability_calculator .main-content {
  font-family: "BayerSans Regular", sans-serif;
  display: flex;
  margin: 15px 63px 0; }

#reliability_calculator .sidebar, #reliability_calculator .arrow, #reliability_calculator .calculator {
  flex: 1; }

#reliability_calculator .arrow {
  flex-grow: 1;
  display: flex; }
  #reliability_calculator .arrow img {
    margin: 0 auto;
    padding-top: 25px;
    flex: .5;
    align-self: center; }

#reliability_calculator h4, #reliability_calculator label, #reliability_calculator input, #reliability_calculator strong {
  font-family: "BayerSans Bold", sans-serif; }

#reliability_calculator label, #reliability_calculator input, #reliability_calculator legend {
  display: block;
  text-align: center; }

#reliability_calculator input[type="text"] {
  -webkit-appearance: none;
  border: none;
  outline: none;
  width: 100%;
  height: 45px;
  font-size: 18px;
  color: #6d6e70;
  margin-bottom: 20px;
  padding: 12px 10px 8px 10px; }
  #reliability_calculator input[type="text"]:focus::-webkit-input-placeholder {
    opacity: 0; }

#reliability_calculator input[type="text"],
#reliability_calculator span.input {
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box; }

#reliability_calculator .sidebar {
  flex-grow: 3;
  background: #e86c1f;
  border-radius: 20px;
  padding: 20px 20px 0;
  box-sizing: border-box; }
  #reliability_calculator .sidebar label {
    margin-bottom: 3px;
    line-height: 1.2;
    color: #FFFFFF; }

#reliability_calculator .calculator {
  flex-grow: 8;
  color: #6d6e70;
  background: #d9fAf1;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
  margin-top: 65px;
  position: relative; }
  #reliability_calculator .calculator h4 {
    width: 100%;
    height: 65px;
    font-family: "BayerSansCond Bold", sans-serif;
    font-size: 21px;
    text-align: center;
    border-radius: 20px 20px 0 0;
    background: rgba(232, 109, 31, 0.3);
    margin: 0;
    padding: 23px;
    box-sizing: border-box;
    position: absolute;
    top: -65px;
    left: 0; }
  #reliability_calculator .calculator fieldset {
    margin: 60px 0 100px; }
    #reliability_calculator .calculator fieldset label, #reliability_calculator .calculator fieldset legend {
      font-size: 18px; }
    #reliability_calculator .calculator fieldset label {
      height: 25px; }
    #reliability_calculator .calculator fieldset legend {
      margin-bottom: 20px; }
    #reliability_calculator .calculator fieldset p {
      font-family: "BayerSans Bold", sans-serif;
      margin-top: 30px; }
    #reliability_calculator .calculator fieldset span.input {
      font-size: 40px;
      text-align: center;
      height: 65px;
      padding: 18px;
      color: #eb6e1f;
      background: #FFFFFF;
      display: block;
      max-width: 155px;
      overflow: hidden; }
  #reliability_calculator .calculator .row {
    display: flex; }
    #reliability_calculator .calculator .row .col {
      flex: 1;
      flex-grow: 3;
      padding: 0 6px; }
      #reliability_calculator .calculator .row .col:first-child {
        flex-grow: 1;
        padding: 0 6px 0 0; }
      #reliability_calculator .calculator .row .col:last-child {
        padding: 0 0 0 6px; }
  #reliability_calculator .calculator .bottom {
    font-size: 15px;
    line-height: 1.1;
    color: #e86c1f;
    text-align: center; }
    #reliability_calculator .calculator .bottom b {
      font-family: "BayerSans Bold", sans-serif;
      font-weight: normal; }

#reliability_calculator .arrow-bubble {
  display: block;
  margin: 0 63px 20px 0;
  position: absolute;
  right: 0;
  bottom: 0; }
  #reliability_calculator .arrow-bubble #calculation-guide {
    width: 300.5px;
    height: 64px;
    background-repeat: no-repeat;
    background-image: url("../../content/img/arrow-bubble-long.png"); }
    #reliability_calculator .arrow-bubble #calculation-guide .guide-text {
      color: #e86c1f;
      font-family: "BayerSans Regular", sans-serif;
      font-size: 17px;
      padding: 24px 0 0 56px; }
      #reliability_calculator .arrow-bubble #calculation-guide .guide-text span {
        font-family: "BayerSans Bold", sans-serif; }

/*# sourceMappingURL=style.css.map */