
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#presentation {
	width: $size__width;
	height: $size__height;
  position: relative;
  margin: 0 auto;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: normal;
  }
}

body {
  background: #444;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	width: 100%;
	position: absolute;
  top: 0;
	z-index: 999;
	height: 75px;
}

#mainmenu {
  width: 84px;
  height: 100px;
  left: auto;
  right: 0;
  overflow: hidden;
  margin: 30px 30px;
  
	ul {
		float: right;
		list-style: none;

		li {
			width: 63.5px;
			height: 63.5px;
      background-image: url('../../content/img/graphics_bayer-logo-rgb.png');
			background-size: 100% 100%;
		}
	}

	&.hide {
		display: none;
	}

	&.white {
		li {
		  background: url('../../content/img/Logo_Cross_Print_Wht.svg') no-repeat 0 0;
		}
	}
}


/*--------------------------------------------------------------
# Slide
--------------------------------------------------------------*/
#presentation section > .slide,
#presentation section > .slide > .slide {
	padding: 0;
}

.slide {
  text-align: left;
	background: no-repeat 0 0 #fff;
	background-size: 100% 100%;
	overflow: hidden;

  h1 {
  	@include title;
  }
  
  .footer {
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 40px;

    div {
      
    }
    
    .left-logo {
      background: url('../../content/img/MEDRAD_Stellant_HorizDesc_Global_WHITE.svg') no-repeat;
      width: 230px;
      height: 40px;
      margin-left: 50px;
    }

    .right-logo {
      background: url('../../content/img/16630_b_rad_easipak_logo_KO.svg') no-repeat;
      width: 175px;
      height: 36px;
      margin-right: 50px;
    }
    
  }
  
  #main_navigationContainer h2 {
    margin-top: 0px;
  }
  
  img {
    height: auto;
  }
  
  .slide-title {
    width: 950px;
    font-size: 48px;
    line-height: 1.1;
    color: $orange;
    font-family: $font__main-bold;
    margin: 65px 63px 29px;
    letter-spacing: -1px;
    font-weight: normal;
  }
  
  &.has-title-icon {
    .slide-title {
      display: flex;
      justify-content: flex-start;
      
      span {
        display: block;
      
        &.title-icon {
          background-size: 100%;
          background-repeat: no-repeat;
          margin-right: 23.5px;     
        }
      }
    }
    
  }
  
  &.has-subtitle {

    .slide-title {
      margin-bottom: 0px;
      font-size: 46.5px;
    }
  
    .slide-subtitle {
      font-family: $font__main;
      font-size: 36px;
      font-weight: normal;
      color: $orange;
      margin: 0 0 0 63px;
      line-height: 44px;
      letter-spacing: -1px;
      
      sup.reg {
        top: 7px;
      }
    }
  }
  
  .slide-intro,
  .features-title {
    color: $gray;
    font-family: $font__main;
    font-size: 24px;
    line-height: 29.5px;
    margin-left: 63px;
    margin-top: 17px;
    font-weight: normal;
  }

  // Features Lists 
  .features-list {
    display: flex;

    ul {
      li {
        display: flex;
        justify-content: flex-start;
        color: $orange;
        margin-bottom: 10px;
        font-size: 24px;
        font-family: $font__main-bold;
        line-height: 29px;

        &.list-title {
          color: $gray;
          display: list-item;
          list-style: none;
        }

        span {
          padding-top: 5px;
          padding-left: 8px;
          font-size: 24px;
        }

        .circle {
          display: block;
          -webkit-border-radius: 999px;
          -moz-border-radius: 999px;
          border-radius: 999px;
          width: 30px;
          height: 31px;
          padding: 0 0 0 1px;
          border: 3px solid #8cc63e;
          color: #8cc63e;
          text-align: center;
          font: 25px Arial, sans-serif;
        }

        .plus-sign {
          line-height: 31px;
        }
                
      }
    }
  }
  
  .arrow-bubble {
    display: flex;
    justify-content: flex-end;
    
    div {
      background-size: 100%;
    }
  }

  .pre-footer {
    position: absolute;
    bottom: 105px;
    background-size: 100%;    
  }

  .key {
    position: absolute;
    bottom: 26px;
    text-align: center;
    color: $gray;
    font-family: $font__main;
    font-size: 13px;
    width: 100%;
  }

}


/*--------------------------------------------------------------
# Footnote Links
--------------------------------------------------------------*/
sup {
	vertical-align: super;
	font-size: 0.4em;
	font-weight: normal;
	position: relative;
	top: -0.2em;
  text-transform: lowercase;
}

sup.reg,
sup.ordinal,
sup.cross {
	font-size: 0.7em;
	top: 4px;
	left: 0px;
}

sup.reg {
  font-family: $font__main;  
}

span.asterisk {
  font-size: 1.4em;
  position: relative;
  top: 0.2em;
  left: 1px;
}

h1, h2 {
	sup {

	}

	sup.reg {
    font-size: 20px;
    top: 0px;
    left: 0px;
	}

	sup.ordinal {
		font-size: 0.5em;
		top: -0.1em;
		left: 2px;
		text-transform: lowercase;
	}

	span.asterisk {
	  font-size: 0.8em;
	  position: relative;
	  top: -0.2em;
	  left: 2px;
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#mainfooter {
  height: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 26px;
  
  #medradLogo {
    background: url('../../content/img/MEDRAD_Stellant_HorizDesc_Global_Orange.svg') no-repeat;
    width: 230px;
    height: 40px;
    margin-left: 50px;
  }

  #stellant_appFooter {
    list-style: none;

    li {
      background: url('../../content/img/16630_b_rad_easipak_logo_bl01_CMYK_comm-coat.svg') no-repeat;
      width: 175px;
      height: 36px;
      margin-right: 50px;
      margin-top: 0px;
    }
  }

  &.home {
    height: 63px;
    justify-content: flex-end;

    #medradLogo {
      display: none;
    }

    #stellant_appFooter li {
      background-image: none;
    }
  }
}