
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#presentation {
	width: $size__width;
	height: $size__height;
  position: relative;
  margin: 0 auto;
}

body {
  background: #444;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	width: 100%;
	position: relative;
	z-index: 999;
	height: 75px;
}

#mainmenu {
  width: 84px;
  height: 100px;
  left: auto;
  right: 0;
  overflow: hidden;
  margin: 30px 30px;
  
	ul {
		float: right;
		list-style: none;

		li {
			width: 63.5px;
			height: 63.5px;
      background-image: url('../../content/img/graphics_bayer-logo-rgb.png');
			background-size: 100% 100%;
		}
	}

	&.hide {
		display: none;
	}

	&.white {
		li {
		  background: url('../../content/img/Logo_Cross_Print_Wht.svg') no-repeat 0 0;
		}
	}
}



/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
.navigation-menu,
.navigation-menu li.parent-menu ul {
	list-style: none;
}

#header {
  input {
    position: fixed;
    opacity: 0;
  }
}

#flyout-menu {
  color: white;
  display: block;
  position: relative;

  label {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    &:before {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      content: '';
      opacity: 0;
      pointer-events: none;
    }

    .burger {
      position: fixed;
      top: 1em;
      left: 1em;
      z-index: 3;
      width: 45px;
      height: 2em;
      margin: 0;
      padding: 0;
      transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .burger::before,
    .burger .bar,
    .burger::after {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 12%;
      background: #6d6e70;
      border-radius: 10px;
      content: '';
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .burger .bar {
      top: 44%;
    }

    .burger::before {
      top: 0;
      transform-origin: top left;
    }

    .burger::after {
      bottom: 0;
      transform-origin: bottom left;
    }
  }

  &.white {
    label {
      .burger::before,
      .burger .bar,
      .burger::after {
        background: #fff;
      }
    }
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    transform: translate3d(0, 0, 0);
    width: 220px;
    /* material acceleration */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 25em;
      content: '';
      transform: skewX(15deg) translateX(-100%);
      transform-origin: bottom left;
      will-change: transform;
      transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

    label {
      font-size: 1.5em;
      color: #636463;
      text-decoration: none;
      font-weight: 500;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: 100%;
      font-size: 1.0em;
      line-height: 1.1em;
      border-bottom: 2px solid #8c8c8b;
      border-top: 2px solid #f3f4f4;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      position: relative;
      background: linear-gradient(to bottom, rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 36%,rgba(224,224,224,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      transform: translateX(-100%);
      transition: color .15s, transform .5s;
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

      &:after {
        position: absolute;
        width: 15px;
        right: 0;
        top: 0;
        height: 100%;
        content: '';
        background: linear-gradient(to bottom, rgba(227,141,94,1) 36%,rgba(200,124,83,1) 100%);
      }

      span {
        font-family: $font__header;
        font-size: 18px;
        line-height: 1.1;
        padding: 25px 50px 20px 25px;
        text-align: left;
      }

      &:hover,
      &:focus,
      [class="flyout"]:checked + label {
        color: #fff;
        background: linear-gradient(to bottom, rgba(227,141,94,1) 36%,rgba(200,124,83,1) 100%);
        border-top: 2px solid rgba(255,255,255,0.95);
      }
    }

    .icon {
      position: absolute;
      width: 46px;
      height: 44px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right center;
      right: 25px;

      &.link1 {
        background-image: url('../../content/img/nav-home-orange.png');
        background-size: 40px 35px;
      }

      &.link2 {
        background-image: url('../../content/img/nav-check-orange.png');
        background-size: 35px 38px;
      }

      &.link3 {
        background-image: url('../../content/img/nav-injection-orange.png');
        background-size: 46px 44px;
      }

      &.link4 {
        background-image: url('../../content/img/nav-smartpack-orange.png');
        background-size: 46px 38px;
      }

      &.link5 {
        background-image: url('../../content/img/nav-summary-orange.png');
        background-size: 45px 32px;
      }

      &.link6 {
        background-image: url('../../content/img/nav-resources-orange.png');
        background-size: 35px 44px;
      }
    }

    label:hover > .icon,
    label:focus > .icon,
    [class="flyout"]:checked + label > .icon {
      background-position: bottom;

      &.link1 {
        background-image: url('../../content/img/nav-home-white.png');
      }

      &.link2 {
        background-image: url('../../content/img/nav-check-white.png');
      }

      &.link3 {
        background-image: url('../../content/img/nav-injection-white.png');
      }

      &.link4 {
        background-image: url('../../content/img/nav-smartpack-white.png');
      }

      &.link5 {
        background-image: url('../../content/img/nav-summary-white.png');
      }

      &.link6 {
        background-image: url('../../content/img/nav-resources-white.png');
      }
    }
  }

  .spacer {
    width: 100%;
    height: 61px;
    background: #d96633;
    position: absolute;
    top: 0;
    border-bottom: 2px solid #4d4d4c;
    -webkit-box-sizing: border-box;
  }

  #lab1 .icon,
  #lab4 .icon,
  #lab5 .icon,
  #lab6 .icon,
  #lab7 .icon {
    right: 25px;
  }

  #lab2 .icon {
    right: 28px;
  }

  #lab6 .icon {
    right: 23px;
  }

  // .check1{clip-path:url(#c);}
  // .check2{clip-path:url(#a);fill:none;stroke-width:3.9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  // .check3{clip-path:url(#a);}

  // .pdf0{clip-path:url(#cv);fill:none;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  // .pdf3{clip-path:url(#av);fill:#F1F2F2;}

  // .calc1{clip-path:url(#ac);fill:none;stroke-width:2;stroke-miterlimit:10;}

  .alt-link {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  [class="flyout"]:checked + label .alt-link {
    display: block;
  }

  .sub,
  .sub2 {
    position: absolute;
    width: 1000px;
    top: 5px;
    left: 250px;
    display: none;
  }

  .sub2 {
    width: 1000px;
    top: 180px;
  }

  #link3-sub .sub {
    top: 305px;
  }

  #link4-sub .sub {
    top: 420px;
  }

  #link4-sub .sub2 {
    top: 600px;
    left: 405px;
  }

  .chevron {
    position: absolute;
    width: 12px;
    height: 35px;
    background: url('../../content/img/nav-chevron.png') no-repeat 0 0;
    background-size: 100%;
  }

  .sub > .chevron {
    left: -22px;
    top: 28px;
  }

  .sub2 > .chevron {
    left: 56px;
    top: -45px;
    transform: rotate(90deg);
  }

  #lab4 .sub2 {
    left: 402px;
  }

  .sub-slide-wrap {
    width: 137px;
    margin-right: 15px;
    float: left;
  }

  .sub-slide-thumb {
    width: 100%;
    background: #fff;
  }

  .sub-slide-thumb img {
    width: 100%;
    display: block;
  }

  .sub-slide-cap {
    font-family: $font__header;
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
  }

  [class="flyout"]:checked + label .sub,
  [class="flyout"]:checked + label .sub2 {
    display: block;
  }

  // Active Subs
  .sub-container.active {
    .sub, .sub2 {
      display: block;
    }
  }

  .first-link {
    margin-top: 61px;
  }

  [id="navcheck"]:checked + label::before {
    opacity: 1;
    pointer-events: auto;
  }
  [id="navcheck"]:checked + label .burger::before,
  [id="navcheck"]:checked + label .burger::after {
    width: 141.42%;
    background: #fff;
  }
  [id="navcheck"]:checked + label .burger::before {
    transform: rotate(45deg) translateY(-50%);
  }
  [id="navcheck"]:checked + label .burger::after {
    transform: rotate(-45deg) translateY(50%);
  }
  [id="navcheck"]:checked + label .burger .bar {
    transform: scale(0.1);
  }
  [id="navcheck"]:checked ~ nav,
  [id="navcheck"]:checked .spacer {
    transform: translateX(0);
  }
  [id="navcheck"]:checked ~ nav::before {
    transform: translateX(0);
  }
  [id="navcheck"]:checked ~ nav label {
    transform: translateX(0);
  }

  [id="navcheck"]:checked + label .burger {
    width: 32px;
    transform: translateX(160px);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
}


/*--------------------------------------------------------------
# Slide
--------------------------------------------------------------*/
#presentation section > .slide,
#presentation section > .slide > .slide {
	padding: 0;
}

.slide {
  text-align: left;
	background: no-repeat 0 0 #fff;
	background-size: 100% 100%;
	overflow: hidden;

  h1 {
  	@include title;
  }
  
  .footer {
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 40px;

    div {
      
    }
    
    .left-logo {
      background: url('../../content/img/MEDRAD_Stellant_HorizDesc_Global_WHITE.svg') no-repeat;
      width: 230px;
      height: 40px;
      margin-left: 50px;
    }

    .right-logo {
      background: url('../../content/img/16518_b_rad_smartpack_logo_bl02_WHITE.svg') no-repeat;
      width: 175px;
      height: 54px;
      margin-right: 50px;
    }
    
  }
  
  #main_navigationContainer h2 {
    margin-top: 0px;
  }
  
  img {
    height: auto;
  }
  
  .slide-title {
    width: 950px;
    font-size: 50px;
    line-height: 1.1;
    color: $orange;
    font-family: $font__main-bold;
    margin: 65px 63px 29px;
    letter-spacing: -1px;
  }
  
  &.has-title-icon {
    .slide-title {
      display: flex;
      justify-content: flex-start;
      
      span {
        display: block;
      
        &.title-icon {
          background-size: 100%;
          background-repeat: no-repeat;
          margin-right: 23.5px;     
        }
      }
    }
    
  }
  
  &.has-subtitle {

    .slide-title {
      margin-bottom: 0px;
      font-size: 46.5px;
    }
  
    .slide-subtitle {
      font-family: $font__main;
      font-size: 36px;
      font-weight: normal;
      color: $orange;
      margin: 0 0 0 63px;
      line-height: 44px;
    }
  }
  
  .slide-intro,
  .features-title {
    color: $gray;
    font-family: $font__main;
    font-size: 24px;
    line-height: 29.5px;
    margin-left: 63px;
    margin-top: 25px;
  }

// Features Lists 

  .features-list {
    display: flex;

    ul {
      li {
        display: flex;
        justify-content: flex-start;
        color: $orange;
        margin-bottom: 10px;
        font-size: 24px;
        font-family: $font__main-bold;
        line-height: 29px;

        &.list-title {
          color: $gray;
          display: list-item;
          list-style: none;
        }

        span {
          padding-top: 5px;
          padding-left: 8px;
          font-size: 24px;
        }

        .circle {
          display: block;
          -webkit-border-radius: 999px;
          -moz-border-radius: 999px;
          border-radius: 999px;
          width: 30px;
          height: 31px;
          padding: 0 0 0 1px;
          border: 3px solid #8cc63e;
          color: #8cc63e;
          text-align: center;
          font: 25px Arial, sans-serif;
        }

        .plus-sign {
          line-height: 31px;
        }
                
      }
    }
  }
  
  .arrow-bubble {
    display: flex;
    justify-content: flex-end;
    
    div {
      background-size: 100%;
    }
  }

  .pre-footer {
    position: absolute;
    bottom: 105px;
    background-size: 100%;    
  }

  .key {
    position: absolute;
    bottom: 26px;
    text-align: center;
    color: $gray;
    font-family: $font__main;
    font-size: 13px;
    width: 100%;
  }

}

/*--------------------------------------------------------------
# Popups
--------------------------------------------------------------*/
#popup-text {
	display: none;
}

#popup {
  width: 588px;
  position: absolute;
  background-color: #FFFFFF;
  padding: 20px 30px 40px;
  left: 184px;
  z-index: 99999;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  
  h2,
  h3,
  h4 {
    color: $orange;
  }
  
  h3,
  h4 {
    font-family: $font__main;
  }
  
  h2 {
    font-family: $font__main-bold;
    font-size: 47.5px;
  }
  
  h3 {
    font-size: 36px;
  }
  
  h4 {
    font-size: 24px;
  }
  

  p {
    margin-top: 8px;
    font-size: 13px;
    line-height: 1.3;
  }
}

#popup-background {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.80);
  position: relative;
  top: 0;
  z-index: 9999;
}

#close-popup {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 30px;
  line-height: 1;
  padding: 10px 18px 12px;
  color: $white;
  background: $orange;
  border-radius: 40px;
  margin-left: 20px;
}

.popup-slides {
  .popup-slide {
    display: none;

    &.active {
      display: block;
    }
  }
}


/*--------------------------------------------------------------
# Footnote Links
--------------------------------------------------------------*/
sup {
	vertical-align: super;
	font-size: 0.4em;
	font-weight: normal;
	position: relative;
	top: -0.2em;
  text-transform: lowercase;
}

sup.reg,
sup.ordinal,
sup.cross {
	font-size: 0.7em;
	top: 0.1em;
	left: 1px;
}

span.asterisk {
  font-size: 1.4em;
  position: relative;
  top: 0.2em;
  left: 1px;
}

h1, h2 {
	sup {
		font-weight: bold;
	}

	sup.reg {
		font-size: 0.4em;
		top: -0.2em;
		left: 2px;
	}

	sup.ordinal {
		font-size: 0.5em;
		top: -0.1em;
		left: 2px;
		text-transform: lowercase;
	}

	span.asterisk {
	  font-size: 0.8em;
	  position: relative;
	  top: -0.2em;
	  left: 2px;
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#mainfooter {
  height: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 26px;
  
  #medradLogo {
    background: url('../../content/img/MEDRAD_Stellant_HorizDesc_Global_Orange.svg') no-repeat;
    width: 230px;
    height: 40px;
    margin-left: 50px;
  }

  #smartpackLogo {
    background: url('../../content/img/16518_b_rad_smartpack_logo_bl02_RGB.svg') no-repeat;
    width: 175px;
    height: 54px;
    margin-right: 50px;
  }
  
  .hide {
    display: none;
  }
}