/*--------------------------------------------------------------
# Medrad styling
--------------------------------------------------------------*/
#medrad {
	background-image: url('../../content/img/System_with_workstation_r1.png');  
	background-position-y: 200px;
	background-size: 82.1296296296296%;

  .features-list {
    justify-content: flex-end;
    margin-right: 70px;
    margin-top: 35px;
  }
  
  .arrow-bubble {
    margin-right: 368px;
    margin-top: 10px;    
    
    div {
      width: 98px;
      height: 64px;
      background-repeat: no-repeat;

      &#injections {
        margin-right: 20px;
        background-image: url('../../content/img/injections.png');
      }

      &#consumables {
        background-image: url('../../content/img/consumables.png');  
      }

    }
    
    
  }

}

// slide theming

.popup-slide {
  position: relative;
  height: 620px;
  
  .header {
    margin-left: 36px;
    margin-top: 50px;  
  }
  
  #injections-slide-one {
    background-image: url('../../content/img/injections-slide-one.png');  
    width: 680.5px;
    height: 315px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 40px;
    position: absolute;
    margin-left: 16px;

    p {
      font-size: 25.5px;
      font-family: $font__main-cond-bold;
      color: $orange;
      line-height: 30px;
      position: absolute;
      right: 60px;
      bottom: 50px
    }
  }
  
  #injection-measures {
    position: absolute;
    bottom: 50px;
    left: 35px;
    display: flex;
    justify-content: space-between;
    width: 431px;
    font-size: 16px;
    line-height: 20px;
    color: $gray;
    font-family: $font__main;
    b {
      font-family: $font__main-cond-bold;
      color: $orange;
      font-size: 22px;
    }
  }
  
  #injections-slide-two {
    background-image: url('../../content/img/injections-slide-two.png');  
    width: 705px;
    height: 326px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 56px;
    position: absolute;
    left: 93px;
  }
  
  .slide-footer {
    height: 126px;
    background-image: url('../../content/img/pre-footer-full-width.png');
    position: absolute;
    bottom: -2px;
    background-size: 100%;
    background-repeat: no-repeat;
    left: -30px;
    width: 930px;    
    
    div {
      font-size: 21px;
      font-family: "BayerSans Bold", sans-serif;
      color: $white;
      margin-left: 46px;
      margin-top: 37px;
      line-height: 29.5px;
    }
  }
  
  .text-slide {
    width: 716.5px;
    margin-left: 80px;
    margin-top: 32px;
  }
  
// consumables 

  #consumables-slide-one {
    width: 250px;
    height: 325px;
    background-image: url('../../content/img/consumables-slide-one.png');
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: 78px;
  }
  
  .features-list {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 78px;

    ul {
      margin-right: 110px;
    }
  }
  
  .key {
    text-align: left;
    margin-left: 36px;
    
    .astrix {
      vertical-align: super;
      font-size: 0.8em;
      font-weight: normal;
      position: absolute;
      top: 0em;
      text-transform: lowercase;
      left: -6px;      
    }  
  }
}