/*--------------------------------------------------------------
# SmartPACK Slides
--------------------------------------------------------------*/

#smartpack {
	background-image: url('../../content/img/smartpack-background.png');  
	background-size: 420px 284px; 
  background-position-y: 225px;
  background-position-x: 40px;

  .slide-subtitle {
    margin-bottom: 50px;    
  }

  .features-list {
    justify-content: flex-end;
    margin-right: 105px;
    margin-top: 35px;

    .list-title {
      margin-bottom: 60px;
    }
    
  }

  .arrow-bubble {
    margin-right: 250px;
    margin-top: 52px;

    #free-trial {
      width: 300.5px;
      height: 63px;
      background-image: url('../../content/img/arrow-bubble-long.png');  
      
      .trial-text {
        color: $orange;
        font-family: $font__main;
        font-size: 17px;
        margin: 24px 0 0 56px;
        
        span {
          font-family: $font__main-bold;
        }
      }
      
    }
  }  
}

#smartpack_pillars {

  .slide-title {
    font-size: 46.5px;
  }
  
  .slide-subtitle {
    font-size: 24px;
    margin-top: 20px;
  }
  
  #pillars {
    display: flex;
    justify-content: space-between;
    margin: 48px 63px 0;
    font-family: $font__main;

    .pillar {
      width: 275px;
      height: 325px;
      background-size: 100%;

      .pillar-title {
        color: $white;
        font-size: 25px;
        line-height: 29.5px;
        margin-left: 17px;
        margin-top: 14px;
        
        span {
          font-size: 25px;
          font-family: $font__main-bold;
        }
      }
      
      .pillar-detail {
        color: $gray;
        font-size: 24px;
        line-height: 29px;
        margin-left: 17px;
      }

      &#reliability-pillar {
        background-image: url('../../content/img/reliability-pillar.png');

        .pillar-detail {
          margin-top: 125px;
        }
      }

      &#technology-pillar {
        background-image: url('../../content/img/technology-pillar.png');  
        .pillar-detail {
          margin-top: 100px;
        }
      }

      &#capital-pillar {
        background-image: url('../../content/img/capital-pillar.png');  
        .pillar-detail {
          margin-top: 100px;
        }
      }

    }
  }

  .arrow-bubble {
    justify-content: center;

    div {
      background-size: 100%;
      background-image: url('../../content/img/info-link.png');
      height: 63px;
      width: 100px;
      margin-left: -20px;
      margin-top: 72.5px;
    }
  }
  
}

// smartpack pillars popup 

#popup {
  &.smartpack_pillars {
    
    #popup-content {
      margin: 30px 20px;
      background-size: 100%;
      background-image: url('../../content/img/info-link.png');
      
    }
  }
}


#reliability {
  
  #VirtualCare-logo {
    width: 200px;
    height: 62.5px;
    background-image: url('../../content/img/VirtualCare-logo.png');
    background-size: 100%;
    position: absolute;
    top: 30px;
    right: 150px;
  }
  
  .slide-title {

    .title-icon {
      width: 50px;
      height: 63.5px;
      background-image: url('../../content/img/reliability-shield.png');
      margin-top: -14px;
    }
  }
  
  .slide-intro {
    color: $orange;
  }
  
  .features-list {
    margin-left: 70px;
    margin-top: 42.5px;
    
    li {
    
      &.list-title {
        margin-bottom: 25px;
      }
    
      span {
        padding-top: 1px;
        font-size: 24px;
        font-family: $font__main-regular;

        b {
          font-family: $font__main-bold;
        }
      }
    
      .list-icon {
        height: 31px;
        width: 31px;
        padding: 0;
  
        &.clock-icon {
          background-size: 100%;
          background-image: url('../../content/img/clock-icon.png');
          background-repeat: no-repeat;
        }
  
        &.computer-icon {
          background-size: 100%;
          background-image: url('../../content/img/computer-icon.png');
          background-repeat: no-repeat;
        }
  
        &.phone-icon {
          background-size: 100%;
          background-image: url('../../content/img/phone-icon.png');
          background-repeat: no-repeat;
        }
  
      }
    }
  }
  
  .pre-footer {
    height: 126px;
    width: 100%;
    background-image: url('../../content/img/pre-footer-full-width.png');
    
    div {
      font-size: 21px;
      font-family: $font__main-bold;
      color: $white;
      margin-left: 46px;
      margin-top: 42px;
      line-height: 29.5px;
    }

  }
}

#reliability_virtualcare {
  
  #reliability-shield-large {
    width: 127px;
    height: 170px;
    margin-left: 63px;
    margin-top: 50px;
    margin-right: 50px;
    background-image: url('../../content/img/reliability-shield-large.png');
    background-size: 100%;
  }
  
  ul {
    margin-top: 31px;
  }
}


#technological_deployments {
	background-image: url('../../content/img/computer-background.png');
  background-size: 884.5px 406.5px;
  background-position-x: 63px;
  background-position-y: 322px;
  
  .slide-title {

    .title-icon {
      width: 62px;
      height: 65.5px;
      background-image: url('../../content/img/techno-box.png');
      margin-top: -21px;
      margin-right: 9px;
    }
  }
  
  .slide-intro {
    color: $orange;
    margin-top: 10px;
  }

  #deployments-nav {
    position: relative;
    
    .deployment-link {
      position: absolute;
      
      span {
        font-family: $font__main-bold;
        font-size: 17px;
        line-height: 18px;
      }
          
      &.first {
        top: 148px;
        left: 279px;
    
        span {
          color: $purple;
        }
      }

      &.second {
        top: 147px;
        right: 190px;
    
        span {
          color: $darkGreen;
        }
      }

      &.third {
        top: 250px;
        left: 275px;
    
        span {
          color: $teal;
        }
      }

      &.fourth {
        top: 267px;
        right: 231px;
    
        span {
          color: $lemonlime;
        }
      }

    }
  }

}

.slide.scanner-connectivity {
  .slide-title {
    margin-left: 45px;
    color: $purple;
    
    span.title-icon {
      width: 82px;
      height: 63px;
      background-image: url('../../content/img/scanner-title-icon.png');
      margin-right: 0px;
      margin-top: -10px;
    }
  }
}

#scanner_connectivity_intro {
  background-image: url('../../content/img/medrad-with-doctor.png');
  background-position-x: 27.5px;
  background-position-y: 256.5px;
  background-size: 387px 347.5px;  
  
  .features-list {
    margin-left: 443px;
    margin-top: 51px;

    ul {
    
      li {
        margin-bottom: 15px;
        
        &.list-title {
          font-family: $font__main;
          margin-bottom: 20px;
        }
        
        .list-icon {
          height: 35px;
          width: 40px;
          padding: 0;
          background-size: 100%;
        
          &.bullseye-icon {
            background-image: url('../../content/img/bullseye-icon.png');
          }
        
          &.timer-icon {
            background-image: url('../../content/img/timer-icon.png');
          }
        
          &.width-arrow-icon {
            background-image: url('../../content/img/width-arrow-icon.png');
          }
        
          &.crossover-icon {
            background-image: url('../../content/img/crossover-icon.png');
          }
        }
      }
    }
  }
}

#scanner_connectivity_detail {
  background-image: url('../../content/img/scanner-connectivity-detail.png');
  background-position-x: 77px;
  background-position-y: 210px;
  background-size: 888.5px 467px;

  #reveal-scanner-detail {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 59px;
    top: 211px;
  }

}

.slide.automated-documentation {
  .slide-title {
    margin-left: 45px;
    color: $teal;
    
    span.title-icon {
      width: 82px;
      height: 63px;
      background-image: url('../../content/img/automated-doc-icon.png');
      margin-right: 0px;
      margin-top: -10px;
    }
  }
}

#automated_documentation {
  background-image: url('../../content/img/automated-doc-monitor.png');
  background-position-x: 65.5px;
  background-position-y: 290.5px;
  background-size: 300px 285px;
    
  #automated-documention-pop-link {
    background-image: url('../../content/img/automated-documentation-pop-link.png');
    background-size: 100%;
    width: 335px;
    height: 63px;
    position: absolute;
    left: 63px;
    bottom: 138px;
  }
  
  .features-list {
    margin-left: 443px;
    margin-top: 51px;

    ul {
    
      li {
        margin-bottom: 15px;
        
        &.list-title {
          font-family: $font__main;
          margin-bottom: 20px;
        }
        
        span {
          padding-left: 12px;
        }
        
        &.extra-space {
          span {
            padding-left: 8px;
          }
        }
        
        .list-icon {
          height: 35px;
          width: 35px;
          padding: 0;
          background-size: 100%;
          background-repeat: no-repeat;
        
          &.import-icon {
            background-image: url('../../content/img/import-icon.png');
          }
        
          &.Aa-icon {
            background-image: url('../../content/img/Aa-icon.png');
          }
        
          &.teal-bullseye-icon {
            background-image: url('../../content/img/teal-bullseye-icon.png');
            width: 40px;
            padding-left: 0px;
          }
        
          &.teal-timer-icon {
            background-image: url('../../content/img/teal-timer-icon.png');
          }
        }
      }
    }
  }
}

#automated_documentation_steps {
  background-image: url('../../content/img/automated-documentation-detail.png');
  background-position-x: 77px;
  background-position-y: 210px;
  background-size: 888.5px 427.5px;

  #reveal-steps-detail {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 59px;
    top: 211px;
  }

}

#personalized_protocols {
  background-image: url('../../content/img/personalized-protocols.png');
  background-position-x: 58.5px;
  background-position-y: 305px;
  background-size: 296.5px 284.5px;

  .slide-title {
    margin-left: 45px;
    color: $lemonlime;
    
    span.title-icon {
      width: 82px;
      height: 63px;
      background-image: url('../../content/img/personalized-protocols-icon.png');
      margin-right: 0px;
      margin-top: -10px;
    }
  }
      
  .features-list {
    margin-left: 443px;
    margin-top: 51px;

    ul {
    
      li {
        margin-bottom: 15px;
        
        &.list-title {
          font-family: $font__main;
          margin-bottom: 20px;
        }
                        
        .list-icon {
          height: 35px;
          width: 35px;
          padding: 0;
          background-size: 100%;
          background-repeat: no-repeat;
        
          &.wrench-icon {
            background-image: url('../../content/img/wrench-icon.png');
          }
        
          &.patient-icon {
            background-image: url('../../content/img/patient-icon.png');
          }
        
          &.checkmark-icon {
            background-image: url('../../content/img/checkmark.png');
          }
        
          &.waves-icon {
            background-image: url('../../content/img/waves-icon.png');
          }
        }
      }
    }
  }
}


#data_driven_insights {
  background-image: url('../../content/img/data-driven-insights.png');
  background-position-x: 17.5px;
  background-position-y: 307.5px;
  background-size: 480px 204px;

  .slide-title {
    margin-left: 45px;
    color: $darkGreen;
    
    span.title-icon {
      width: 82px;
      height: 63px;
      background-image: url('../../content/img/data-driven-insights-icon.png');
      margin-right: 0px;
      margin-top: -10px;
    }
  }

    
  .pre-footer {
    height: 76px;
    width: 545px;
    background-image: url('../../content/img/pre-footer-half-width.png');
    
    div {
      font-size: 21px;
      font-family: $font__main-bold;
      color: $white;
      margin-left: 46px;
      margin-top: 42px;
      line-height: 29.5px;
    }

  }
  
  .features-list {
    margin-left: 555px;
    margin-top: 13px;

    ul {
    
      li {
        margin-bottom: 15px;
        
        &.list-title {
          font-family: $font__main;
          margin-bottom: 20px;
          margin-left: -110px;
          font-size: 23px;
        }
        
        .list-icon {
          height: 35px;
          width: 35px;
          padding: 0;
          background-size: 100%;
          background-repeat: no-repeat;
        
          &.vial-icon {
            background-image: url('../../content/img/vial-icon.png');
          }
        
          &.tracking-icon {
            background-image: url('../../content/img/tracking-icon.png');
          }
        
          &.chart-icon {
            background-image: url('../../content/img/chart-icon.png');
          }
        
          &.mag-icon {
            background-image: url('../../content/img/mag-icon.png');
          }
        }
      }
    }
  }
}

#capital_access_program {
  background-image: url('../../content/img/capital-access-program.png');
  background-position-x: 68px;
  background-position-y: 281px;
  background-size: 865px 87px;

  .slide-title {
    margin-left: 45px;
    
    span.title-icon {
      width: 57px;
      height: 71.5px;
      background-image: url('../../content/img/capital-access-program-icon.png');
      margin-right: 14px;
      margin-top: -24px;
      margin-left: 15px;
    }
  }
  
  #capital-access-programs {
    font-family: $font__main;
    color: $gray;
    font-size: 23.5px;
    line-height: 24.5px;
    position: absolute;
    top: 405px;
    left: 116px;
    width: 812.5px;
    display: flex;
    justify-content: space-between;
    
    b {
      font-family: $font__main-bold;
    }
  }
}
