/*--------------------------------------------------------------
# Summary Slide
--------------------------------------------------------------*/

#summary_page {
  
  #summary-page-image {
    width: 418px;
    height: 345px;
    margin-left: 27px;
    margin-top: 15px;
    margin-right: 55px;
    background-image: url('../../content/img/summary-page.png');
    background-size: 100%;
  }
  
  ul {
    margin-top: 94px;
  }
  
  #summary-arrow-links {
    display: flex;
    justify-content: flex-end;
    margin-right: 51px;
    margin-top: 33px;
    
    #risk-free-link {
      background-image: url('../../content/img/risk-free-link.png');
      background-size: 100%;
      background-repeat: no-repeat;
      width: 310px;
      height: 63.5px; 
      
      .trial-text {
        color: $orange;
        font-family: $font__main;
        font-size: 17px;
        margin: 25px 0 0 65px;
        
        span {
          font-family: $font__main-bold;
        }
      }

    } 

    #learn-more-link {
      background-image: url('../../content/img/learn-more-link.png');
      background-size: 100%;
      width: 170px;
      height: 63.5px;
      
      .learn-more-text {
        color: $orange;
        font-family: $font__main;
        font-size: 17px;
        margin: 25px 0 0 65px;
      }
    } 
  }

  .pre-footer {
    height: 76px;
    width: 545px;
    background-image: url('../../content/img/pre-footer-half-width.png');
    
    div {
      font-size: 21px;
      font-family: $font__main-bold;
      color: $white;
      margin-left: 26px;
      margin-top: 14px;
      line-height: 29.5px;
    }

  }


  .key {
    text-align: left;
    width: 50%;
    left: 328px;
    bottom: 30px;
    
    .astrix {
      vertical-align: super;
      font-size: 0.8em;
      font-weight: normal;
      position: absolute;
      top: 0em;
      text-transform: lowercase;
      left: -6px;
    }
  }

}

#popup {
  
  .summary-header {
    margin-left: 36px;
    margin-top: 50px;   
    
    h3 {
      letter-spacing: -1px;
    }   
  }
  
  .summary {
    background-image: url('../../content/img/summary-popup.png');  
    width: 808.5px;
    height: 363px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 56px;
    position: absolute;
    left: 69px;
  }
}