/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
$size__width: 1024px;
$size__height: 768px;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$gray: #6d6e70;
$white: #FFFFFF;
$orange: #e86c1f;
$lightOrange: rgba(232,109,31,0.3);
$green: #8cc63e;
$darkGreen: #006738;
$lemonlime: #d6df23;
$purple: #383473;
$teal: #00a79d;
$mint: rgba(217,250,251,0.3);


/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'BayerSans Regular';
    src: url('../../content/fonts/BayerSans-Regular.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'BayerSans Bold';
    src: url('../../content/fonts/BayerSans-Bold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'BayerSansCond Bold';
    src: url('../../content/fonts/BayerSansCond-Bold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'BayerSans Italic';
    src: url('../../content/fonts/BayerSans-Italic.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Arial Rounded Bold';
    src: url('../../content/fonts/Arial-Rounded-Bold.ttf') format('truetype');
    font-style: normal;
}

$font__header: 'BayerSans Bold', sans-serif;
$font__main: 'BayerSans Regular', sans-serif;
$font__arial: 'Arial Rounded Bold', sans-serif;
$font__main-regular: 'BayerSans Regular', sans-serif;
$font__main-medium: 'Arial Rounded Bold', sans-serif;
$font__main-bold: 'BayerSans Bold', sans-serif;
$font__main-cond-bold: 'BayerSansCond Bold', sans-serif;
$font__main-bold-italic: 'Arial', sans-serif;
$font__main-italic: 'BayerSans Italic', sans-serif;

$font__icon: 'HelveticaNeueLTPro-Cn', sans-serif;
$font__icon-thin: 'HelveticaNeueLTPro-ThCn', sans-serif;

$font__table: 'TradeGothicLTStd-Bold', sans-serif;