/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
$size__width: 1024px;
$size__height: 768px;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$gray: #6d6e70;
$white: #FFFFFF;
$orange: #e86c1f;
$green: #8cc63e;
$darkGreen: #006738;
$lemonlime: #d6df23;
$purple: #383473;
$teal: #00a79d;


/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'BayerSansCond Regular';
    src: url('../../content/fonts/BayerSansCond-Regular.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'BayerSans Bold';
    src: url('../../content/fonts/BayerSansCond-Bold.otf');
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicLTStd-Bold';
    src: url('../../content/fonts/TradeGothicLTStd-Bold.otf') format('opentype');
    font-style: normal;
}

$font__header: 'BayerSans Bold', sans-serif;
$font__main: 'BayerSansCond Regular', sans-serif;
$font__main-regular: 'BayerSansCond Regular', sans-serif;
$font__main-medium: 'Arial', sans-serif;
$font__main-bold: 'BayerSans Bold', sans-serif;
$font__main-bold-italic: 'Arial', sans-serif;
$font__main-italic: 'Arial', sans-serif;

$font__icon: 'HelveticaNeueLTPro-Cn', sans-serif;
$font__icon-thin: 'HelveticaNeueLTPro-ThCn', sans-serif;

$font__table: 'TradeGothicLTStd-Bold', sans-serif;